# Vim files 
*~
*.swp

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin/*

# cmake ignore
*log
*cmake*
*CMakeCache.txt
*CMakeFiles*
src/ballplate/CMakeFiles*
src/blobTracker3d/CMakeFiles/*
src/maze/CMakeFiles/*
CMakeScripts
*Makefile*
*cmake_install.cmake*
*install_manifest.txt
